{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - A propos{% endblock %}

{% block body %}



    <section id="about">

        <h1>A propos du site</h1>
        <br>
        <div class="about-intro">
            <p>
                BlogTrotter est un site fait par des passionnés de voyages pour des passionnés de voyages !
            </p>

            <p>
                Nous l'avons créé au départ pour nous partager nos expériences et nous échanger des astuces.
                C'est à force d'en parler avec nos proches que nous nous sommes rendus compte qu'il fallait à tout prix
                ouvrir ce site au plus grand nombre possible.
            </p>

            <p>
                BlogTrotter est alors devenu une vraie communauté de voyageurs et d'aventuriers.
            </p>
        </div>

        <hr>

        <div class="about-card-group">
            <div class="about-card">
                <img src="{{ asset('img/apropos_rra.jpg') }}" alt="Photo Ressa">
                <h4>Ressa Rambaud</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vel magna efficitur, scelerisque augue id,
                    pretium ex. Phasellus tellus risus, maximus nec posuere id, lacinia vel lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent ultricies purus tortor. Curabitur sed mauris sit amet ante consequat efficitur. Maecenas sit amet lobortis enim. Mauris ipsum nunc, faucibus vel elit ut, eleifend tincidunt neque.
                </p>
            </div>

            <div class="about-card">
                <img src="{{ asset('img/apropos_sal.jpg') }}" alt="Photo Stéphane">
                <h4>Stéphane Albertini</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vel magna efficitur, scelerisque augue id,
                    pretium ex. Phasellus tellus risus, maximus nec posuere id, lacinia vel lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent ultricies purus tortor. Curabitur sed mauris sit amet ante consequat efficitur. Maecenas sit amet lobortis enim. Mauris ipsum nunc, faucibus vel elit ut, eleifend tincidunt neque.
                </p>
            </div>

            <div class="about-card">
                <img src="{{ asset('img/apropos_abi.jpg') }}" alt="Photo Alexandre">
                <h4>Alexandre Bianchi</h4>
                <p>
                    Contrairement à ce que la photo montre, Alexandre est plutôt un amateur de reliefs montagneux.
                    Il aime partir en randonnée, prendre de la hauteur et photographier en panoramique les paysage à couper
                    le souffle. Il n'a pas encore croisé de dahu, de yéti ou d'elfes mais il confirme que c'est bien la
                    marmotte qui met le chocolat dans le papier d'alu.
                </p>
            </div>
        </div>

    </section>


{% endblock %}
