{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Mentions légales{% endblock %}

{% block body %}

    <h1>Mentions légales et politique de confidentialité</h1>

    <h3>Ce site est édité par BlogTrotterInc, réseau social.</h3>
    <p>
        Ces mentions légales et cette politique de confidentialité s’appliquent au site blogtrotter.fr.
    </p>

    <h3>Editeur</h3>
    <p>
        BlogTrotterInc – 1 rue du Départ – F-75014 Paris
        <br>
        SIRET : 12345678912345
        <br>
        Directeur de la publication : Stéphane Albertini
        <br>
        Contact : ​info@blogtrotter.fr​ – 0800 01 2345
    </p>

    <h3>Hébergement</h3>
    <p>
        ALPHASQUARE – 30 rue Guy Moquet – 92240 Malakoff
        <br>
        SIRET : 80967551500039
        <br>
        Contact : ​www.alphasquare.net​ – ​abuse@alphasquare.net
    </p>




    <h3>Droits d’auteur</h3>
    <p>
        L’ensemble de ce site relève de la législation française et internationale sur le droit d’auteur et de la propriété
        intellectuelle. Tous les droits de reproduction sont réservés, y compris pour les documents téléchargeables et
        les photographies. La reproduction de tout ou partie de ce site est formellement interdite sauf autorisation
        expresse du directeur de la publication.
    </p>




    <h3>Données personnelles et politique de confidentialité</h3>
    <p>
        Les données personnelles recueillies dans le cadre du site font l’objet d’un traitement automatisé
        par BlogTrotterInc.
        <br>
        Vos données ne sont pas cédées à des tiers.
        <br>
        Vous pouvez accéder aux données vous concernant ou demander leur effacement.
        Vous pouvez révoquer votre consentement. Vous disposez également d’un droit d’opposition,
        d’un droit de rectification, d’un droit à la portabilité et d’un droit à la limitation du traitement de vos données
        (voir ​cnil.fr pour plus d’informations sur vos droits).
        <br>
        Pour exercer ces droits ou pour toute question sur le traitement de vos données sur notre site,
        vous pouvez nous contacter :
        <br>
    </p>
    <ul>
        <li>
            <b>Par voie électronique :</b>​privacy@blogtrotter.fr
        </li>
        <li>
            <b>Par courrier postal :</b>
            <br>
            Protection des Données BlogTrotterInc
            <br>
            1 rue du Départ F-75014 Paris
        </li>
    </ul>
    <br>
    Si vous estimez, après nous avoir contactés, que vos droits Informatique et Libertés ne sont pas respectés
    ou n’est pas conforme aux règles de protection des données, vous pouvez adresser une réclamation à la CNIL.





{% endblock %}
