/************************************************************************************
************************************ CSS PROJET WEB FORCE 3 *************************
****************************** PAR RESSA, ALEXANDRE ET STEPHANE *********************
*************************************************************************************/
/* DEBUT DE LA PAGE base.html.twig */
body{
    min-width: 320px;
    background-color: #eff3c6;
}
header div.container div.header_top{
    text-align: center;
}
header div.container div p{
    font-size: 20px;
}
header div.container div img{
    width: 100%;
}
header div.container div nav{
    border: #4cbbb9 1px solid;
    border-radius: 5px;
    background-color: #4cbbb9;
}
header div.container div nav ul{
    list-style: none;
    padding: 0;
    margin-top: 16px;
}
header div.container div nav ul li{
    margin-bottom: 16px;
}
header div.container div nav ul li a{
    color: white;
}
header div.container div nav ul li img{
    margin: 5px 0 5px 0;
    width: 25px;
}
li.sous_menu ul{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.0s;
}
li.sous_menu.open ul{
    margin-top: 10px;
    max-height: 600px;
    margin-bottom: 16px;
}
footer div.container{
    background-color: #4cbbb9;
    text-align: center;
}
footer div.container p{
    margin: 0;
}
footer div.container nav a{
    color: white;
}
/* FIN DE LA PAGE base.html.twig */

/* DEBUT CSS styles communs à toutes les pages*/
* {
   transition: all 0.4s linear;
}
/* DEBUT CSS styles liens (hors boutons)*/
a:not(.button) {
    color: #0779e4;
}

a:not(.button):hover {
    text-decoration: underline solid #4cbbb9;
    color: #4cbbb9;
}
/* FIN CSS styles liens (hors boutons)*/


/* DEBUT CSS styles boutons*/
.button {
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    margin: 2px 0;
    display: inline-block;
}

.standard {
    background-color: #4cbbb9;
    border: 1px solid #4cbbb9;
    color: white;
}

.standard:hover {
    background-color: #0779e4;
    border: 1px solid #0779e4;
    color: white;
    text-decoration: none;
}

.delete {
    background-color: #B22222;
    border: 1px solid #B22222;
    color: white;
}

.delete:hover {
    background-color: #8B0000;
    border: 1px solid #8B0000;
    color: white;
    text-decoration: none;
}

.cancel {
    background-color: #eff3c6;
    border: 1px solid #4cbbb9;
    color: #4cbbb9;
}

.cancel:hover {
    background-color: #0779e4;
    border: 1px solid #0779e4;
    color: white;
    text-decoration: none;
}
/* FIN CSS styles boutons*/

/* DEBUT CSS styles liste d'items*/
.table-list {
    display: none;
}

.list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.list-item {
    padding: 5px;
    border-bottom: 0.5px solid lightgray;
    display: flex;
    align-items: center;
}

.list-item:first-child {
    padding: 5px;
}

.list-item:last-child {
    padding: 7px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #eff3c6;
    justify-content: center;
}

.list-item:last-child .list-item-title{
    display: none;
}

.list-item:last-child .list-item-value{
    text-align: center;
}

.list-item-title {
    line-height: 1.2em;
    font-weight: bold;
    width: 50%;
}

.list-item-value {
    line-height: 1.2em;
    width: 50%;
}
/* FIN CSS styles liste d'items*/

/* DEBUT CSS styles messages*/
.message {
    text-align: center;
    padding: 15px;
    margin: 10px 0;
}

.message.error {
    color: #8B0000;
    position: relative;
    background-color: rgba(178,34,34, 0.2);
}
.message.error:before {
    content: "";
    border-left: 5px solid #8B0000;
    border-top: 5px solid #8B0000;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
}
.message.error:after {
    content: "";
    border-right: 5px solid #8B0000;
    border-bottom: 5px solid #8B0000;
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 0;
    right: 0;
}

.message.success {
    color: #4cbbb9;
    position: relative;
    background-color: rgba(76,187,185, 0.2);
}
.message.success:before {
    content: "";
    border-left: 5px solid  #4cbbb9;
    border-top: 5px solid  #4cbbb9;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
}
.message.success:after {
    content: "";
    border-right: 5px solid  #4cbbb9;
    border-bottom: 5px solid  #4cbbb9;
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 0;
    right: 0;
}

.message.warning {
    color: #0779e4;
    position: relative;
    background-color: #eff3c6;
}
.message.warning:before {
    content: "";
    border-left: 5px solid #0779e4;
    border-top: 5px solid #0779e4;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
}
.message.warning:after {
    content: "";
    border-right: 5px solid #0779e4;
    border-bottom: 5px solid #0779e4;
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 0;
    right: 0;
}
/* FIN CSS styles messages*/

/* FIN CSS styles communs à toutes les pages*/

/* DEBUT DE LA PAGE admin/article/add_edit_article.html.twig */
.form_template img{
    width: 100%;
}
/* FIN DE LA PAGE admin/article/add_edit_article.html.twig */

/* DEBUT CSS commun à tous les templates */
.banniere{
    text-align: center;
    width: 300px;
}
.banniere img{
    max-width: 100%;
}
.introduction p{
    font-size: 13px;
}
.conclusion p{
    font-size: 13px;
}
/* FIN CSS commun à tous les templates */

/* DEBUT DE LA PAGE article/render_image_template.html.twig */
#template_image h1{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
#template_image h2{
    text-align: left;
    font-size: 15px;
    text-decoration: underline;
}
#template_image div .colonne1 div{
    width: 300px;
}
#template_image div .colonne1 div img{
    max-width: 100%;
}
#template_image div .colonne1 div p{
    text-align: center;
    font-size: 13px;
}
#template_image div .colonne2 div{
    width: 300px;
}
#template_image div .colonne2 div img{
    max-width: 100%;
}
#template_image div .colonne2 div p{
    text-align: center;
    font-size: 13px;
}
#template_image div .colonne3 div{
    width: 300px;
}
#template_image div .colonne3 div img{
    max-width: 100%;
}
#template_image div .colonne3 div p{
    text-align: center;
    font-size: 13px;
}
#template_image div .colonne4 div{
    width: 300px;
}
#template_image div .colonne4 div img{
    max-width: 100%;
}
#template_image div .colonne4 div p{
    text-align: center;
    font-size: 13px;
}
#template_text h1{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
#template_text h2 {
    text-align: left;
    font-size: 15px;
    text-decoration: underline;
}
#template_text .zone1{
    width: 300px;
}
#template_text .zone1 img{
    max-width: 100%;
}
#template_text .zone1 p{
    text-align: center;
    font-size: 13px;
}
#template_text .zone2{
    width: 300px;
}
#template_text .zone2 img{
    max-width: 100%;
}
#template_text .zone2 p{
    text-align: center;
    font-size: 13px;
}
#template_mixed h1{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
#template_mixed h2 {
    text-align: left;
    font-size: 15px;
    text-decoration: underline;
}
#template_mixed .zone1{
    width: 300px;
}
#template_mixed .zone1 img{
    max-width: 100%;
}
#template_mixed .zone1 p{
    text-align: center;
    font-size: 13px;
}
#template_mixed .zone2{
    width: 300px;
}
#template_mixed .zone2 img{
    max-width: 100%;
}
#template_mixed .zone2 p{
    text-align: center;
    font-size: 13px;
}
#template_mixed .zone3{
    width: 300px;
}
#template_mixed .zone3 img{
    max-width: 100%;
}
#template_mixed .zone3 p{
    text-align: center;
    font-size: 13px;
}
/* FIN DE LA PAGE article/render_image_template.html.twig */

/* DEBUT DE LA PAGE index/index.html.twig */

#carouselExampleCaptions .carousel_image{
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#carouselExampleCaptions h5{
    font-size: 20px;
    color: black;
    font-weight: bold;
    text-shadow: rgb(255, 255, 255) 1px 0px 0px, rgb(255, 255, 255) 0.540302px 0.841471px 0px,
                rgb(255, 255, 255) -0.416147px 0.909297px 0px, rgb(255, 255, 255) -0.989992px 0.14112px 0px,
                rgb(255, 255, 255) -0.653644px -0.756802px 0px, rgb(255, 255, 255) 0.283662px -0.958924px 0px,
                rgb(255, 255, 255) 0.96017px -0.279415px 0px;
}
#carouselExampleCaptions p{
    font-size: 15px;
    color: black;
    font-weight: bold;
    text-shadow: rgb(255, 255, 255) 1px 0px 0px, rgb(255, 255, 255) 0.540302px 0.841471px 0px,
                rgb(255, 255, 255) -0.416147px 0.909297px 0px, rgb(255, 255, 255) -0.989992px 0.14112px 0px,
                rgb(255, 255, 255) -0.653644px -0.756802px 0px, rgb(255, 255, 255) 0.283662px -0.958924px 0px,
                rgb(255, 255, 255) 0.96017px -0.279415px 0px;
}
#index h1{
    text-align: center;
    font-size: 20px;
    margin-top: 8px;
}
#index2 h2{
    text-align: center;
    font-size: 20px;
}
#article{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
    justify-content: space-around;
}
#article_index{
    width: 300px;
}
#article_index div.top_image{
    max-width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#article_index div.top{
    border: #4cbbb9 1px solid;
    text-align: center;
}
#article_index h3{
    font-size: 13px;
    margin-top: 8px;
    text-decoration: underline;
}
#article_index div.middle{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#article_index div.bottom{
    text-align: right;
}

/**************************************************************/
/******************** Responsive ******************************/
/**************************************************************/

@media screen and (min-width: 576px) {

    .list-item-title {
        width: 30%;

    }

    .list-item-value {
        width: 70%;
    }

}

@media screen and (min-width: 768px) {

    /* DEBUT DE LA PAGE base.html.twig */

        header div.container div.header_top{
            position: relative;
            z-index: 1000;
        }
        header div.container div.header_top div.header_middle{
            display: flex;
            align-items: center;
        }
        header div.container div img{
            width: 20%;
        }
        header div.container div nav ul{
            margin: 0;
            display: flex;
            justify-content: space-between;
            flex-flow: row nowrap;
        }
        header div.container div nav ul li{
            margin-bottom: 0;
            padding: 0;
            position: relative;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
        }
        header div.container div nav ul li img{
            margin: 5px 0 5px 0;
            width: 25px;
        }
        header div.container div nav ul .sous_menu ul{
            display: block;
            position: absolute;
            top: 100%;
            width: 200px;
            background-color: #4cbbb9;
            margin: 0;
            border-radius: 0 0 5px 5px;
            left: 50%;
            margin-left: -100px;
        }

    /* FIN DE LA PAGE base.html.twig */
    /* DEBUT DE LA PAGE index/index.html.twig */

        #article{
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
        }
        #article_index{
            margin: 10px;
        }

    /* FIN DE LA PAGE index/index.html.twig */

    .list-item-title {
        width: 25%;

    }

    .list-item-value {
        width: 75%;
    }

}

@media screen and (min-width: 992px) {

    /* DEBUT CSS styles liste d'items*/
    .list {
        display: none;
    }

    .table-list {
        display: block;
        border-collapse: collapse;

    }

    .table-list th, .table-list td {
        border-bottom: 1px solid lightgrey;
        padding: 5px;
    }

    .table-list th {
        background-color: #0779e4;
        color: white;
    }

    .table-list tr:nth-child(odd) {
        background-color: #eff3c6;
    }

    .table-list .button {
        display: block;
    }
    /* FIN CSS styles liste d'items*/

}

@media screen and (min-width: 1200px) {

    /* DEBUT DE LA PAGE index/index.html.twig */
    #article{
        justify-content: space-between;
    }
    /* FIN DE LA PAGE index/index.html.twig */

}
