{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - CGU{% endblock %}

{% block body %}

    <h1>Conditions Générales d'utilisation</h1>
    <h3>ARTICLE 1 – ACCEPTATION DES CONDITIONS GÉNÉRALES D'UTILISATION</h3>
    <p>
        L'Utilisateur est présumé connaître et accepter, sans réserve, l'ensemble des CGU du seul fait de sa connexion
        au Site et aux Applications, ou utilisation des Services, quels que soient les terminaux numériques de
        réception utilisés.
    </p>
    <p>
        Les CGU s'appliquent concomitamment (i) aux Conditions Particulières qui seront notifiées aux Utilisateurs
        lors de leur inscription à certains Services (par exemple des conditions générales de vente, règlement de
        jeux-concours, etc.), (ii) à la Charte Données Personnelles et Cookies, et (iii) à toute déclinaison ou
        extension du Site sur les réseaux sociaux et/ou communautaires existants ou à venir.
    </p>
    <p>
        L'Utilisateur est invité à ne pas se connecter au Site et aux Applications, ni utiliser les Services s'il
        n'accepte pas tout ou partie des documents visés ci-dessus.
    </p>
    <p>
        L'Utilisateur est informé que l’accès libre et gratuit aux contenus et Services du Site, ainsi qu’aux
        Applications (hors éditions abonnés), est financé par les revenus liés à la publicité diffusée sur ces
        espaces, ce qu’il accepte.
    </p>
    <p>
        L’Editeur peut à tout moment modifier les termes des CGU. L’Utilisateur est expressément informé que la
        version en vigueur est celle qui est mise en ligne à l’adresse URL https://www.public.fr/Mentions-Legales-et-CGU
        à la date de son accès à l’un quelconque des Services, ce que l’Utilisateur reconnaît et accepte sans
        restriction, s’engageant à s’y référer systématiquement lors de chaque connexion.
    </p>



    <h3>ARTICLE 2 – INSCRIPTION AUX SERVICES ET GESTION DES IDENTIFIANTS</h3>
    <h4>2.1 Modalités d’inscription aux Services</h4>
    <p>
        L’accès à certains Services est conditionné à l’inscription au site www.public.fr (ci-après « Public »).
        Public est un Service gratuit et personnel permettant à l'Utilisateur inscrit de bénéficier d'un Service de
        gestion de son compte Public et des Services qui y sont associés, tels que décrits dans les Conditions
        Particulières des CGU.
    </p>
    <p>
        Pour créer un compte Public, l’Utilisateur doit :
    </p>
    <ul>
        <li>
            Soit choisir un pseudo puis remplir un formulaire d’inscription en fournissant des informations
            personnelles, dont notamment le nom, le prénom, l'adresse mail, un mot de passe, qui lui permettront
            ensuite de s’identifier et de lui faciliter l’accès ;
        </li>
        <li>
            Soit être inscrit à l’un des sites tiers indiqués par l’Editeur et utiliser ses identifiants de connexion.
        </li>
    </ul>
    <p>
        Ces informations personnelles sont collectées et conservées avec le consentement de l'Utilisateur et feront
        l'objet d'un traitement conformément à la loi n°78-17 du 6 janvier 1978 modifiée relative à l’informatique,
        aux fichiers et aux libertés, et du Règlement européen n°2016/679 du 27 avril 2016 relatif à la protection
        des personnes physiques à l’égard du traitement des données à caractère personnel et à la libre circulation
        de ces données (ci-après la « Règlementation applicable »). Les données des mineurs, en fonction de leur âge,
        sont collectées et conservées avec le consentement de leurs parents ou titulaires de l’autorité parentale,
        en plus du leur.
    </p>
    <p>
        Les mineurs sont admis à s’inscrire à Public à la condition expresse qu’ils aient préalablement obtenu de
        leur(s) parent(s) (ou de la personne exerçant l’autorité parentale) l’autorisation pour utiliser le ou les
        Services. L’Editeur se réserve le droit d’en demander la justification écrite à tout moment et de procéder à
        toutes vérifications ainsi que de supprimer l’inscription de l’enfant mineur qui ne remettrait pas
        immédiatement ladite justification. Les parents (ou titulaire(s) de l’autorité parentale) acceptent en
        conséquence d’être garants du respect de l’ensemble des dispositions des CGU et, le cas échéant, des
        Conditions Particulières d’Utilisation de certains Services. Ils reconnaissent qu’ils leur incombent de
        surveiller l’utilisation faite par les enfants mineurs des Services proposés sur le Site.
    </p>
    <p>
        L’Utilisateur est informé que l’Editeur se réserve le droit de modifier ou de supprimer, à tout moment,
        sans préavis et à son entière discrétion, tout ou partie des Services.
    </p>

    <h4>2.2 Gestion des identifiants</h4>
    <p>
        Le pseudo et mot de passe (ci-après les « Identifiants ») permettent à chaque Utilisateur de s'identifier et
        de se connecter aux Services. Ils sont personnels et confidentiels et ne peuvent être modifiés que sur demande
        de son titulaire ou à l’initiative de l’Editeur.
    </p>
    <p>
        Chaque Utilisateur est entièrement responsable de l'utilisation de ses Identifiants qu’il s'engage à
        conserver secrets et à ne pas divulguer sous quelque forme que ce soit à des tiers. En cas de perte, de vol
        ou de toute utilisation frauduleuse de ses Identifiants, l’Utilisateur devra immédiatement en informer l’Editeur.
    </p>
    <p>
        L'Utilisateur peut alors :
    </p>
    <ul>
        <li>
            Soit solliciter le remplacement de ses Identifiants lorsqu'il existe un risque que ceux-ci soient utilisés par
            un tiers ;
        </li>
        <li>
            Soit solliciter la restitution sécurisée de ses Identifiants.
        </li>
    </ul>
    <p>Chaque Utilisateur est en conséquence seul responsable de l’utilisation du ou des Service(s) faite sous son
        identification. Toute connexion ou transmission de données effectuée en utilisant les Identifiants sera réputée
        avoir été effectuée par l’Utilisateur et sous sa responsabilité exclusive. En conséquence l’Editeur ne pourra être
        tenu responsable de l'utilisation frauduleuse des Identifiants de l'Utilisateur par un tiers.
    </p>



    <h3>ARTICLE 3 – ACCÈS AUX SERVICES ET SUSPENSION DES SERVICES</h3>
    <h4>3.1 Disponibilité du Site et des Applications</h4>
    <p>
        L’Editeur s’engage à faire ses meilleurs efforts pour que l'accès et le fonctionnement du Site et des Applications
        soient assurés 24 heures sur 24 (24H/24) et 7 jours sur 7 (7J/7) sans interruption.
    </p>
    <p>
        Toutefois, l’Editeur ne
        peut voir sa responsabilité recherchée en cas d'indisponibilité temporaire du Site, des Applications et des Services
        (i) en cas de maintenance du Site, des Applications ou des serveurs sur lesquels ils sont hébergés, (ii) en cas de
        survenance d'événements extérieurs à sa volonté et à son contrôle, ou (iii) en raison de cas de force majeure.
        L’Editeur informera au préalable l'Utilisateur de l'indisponibilité si l'événement à l'origine de l'indisponibilité
        est prévisible.
    </p>

    <h4>3.2 Suspension de l'accès</h4>
    <p>
        L’Editeur se réserve le droit de suspendre l'accès aux
        Services (i) en cas de perte, vol et/ou utilisation frauduleuse des Identifiants de l'Utilisateur dont ce dernier
        l'a informé, (ii) en cas d'utilisation non conforme aux dispositions des présentes, ou (iii) en cas d'opérations de
        maintenance. La responsabilité de l’Editeur ne peut être engagée en raison de ces interruptions et des conséquences
        qui peuvent en découler pour l’Utilisateur.
    </p>



    <h3>ARTICLE 4 - ENGAGEMENT DES UTILISATEURS</h3>
    <p>
        L'Utilisateur
        est informé que l'ensemble des lois et règlements en vigueur sont applicables sur Internet.
    </p>
    <h4>
        4.1 Comportement général des utilisateurs</h4>
    <p>
        Lors de son inscription et à l’occasion de toute utilisation des
        différents Services auxquels le compte Public donne accès, tout Utilisateur s’engage tant à l’égard de l’Editeur que
        des autres Utilisateurs inscrits et de manière générale auprès de tout tiers, à :
    </p>
    <ul>
        <li>Fournir des données exactes, actualisées, vraies, complètes ;</li>
        <li>Ne pas fournir de données erronées, obsolètes ;</li>
        <li>Ne pas usurper, en tout ou partie, l’identité, le titre ou la qualité d’un tiers ;</li>
        <li>
            Respecter la gestion des accès et en particulier ne pas masquer sa véritable identité en se connectant sous les
            paramètres personnels d'un autre Utilisateur ;
        </li>
        <li>Garder confidentiels ses Identifiants et ne pas les dévoiler à des tiers ;</li>
        <li>
            Avertir l’Editeur de tous les dysfonctionnements logiques et techniques qu’il pourrait constater et toutes les
            anomalies qu’il pourrait découvrir, telles en particulier les intrusions non autorisées au sein de son compte
            Public.
        </li>
    </ul>
    <p>
        En cas de non-respect des principes énoncés ci-dessus, l’Editeur se réserve la possibilité de suspendre ou
        refuser l’accès, sans préavis ni indemnité, de façon temporaire ou définitive, à tout ou partie des Services.
    </p>
    <p>
        Tout Utilisateur qui s’inscrit et qui utilise les différents Services associés à son compte Public, en ce compris
        notamment la publication de données à caractère personnel le concernant, reconnaît qu’il y procède sous son entière
        et exclusive responsabilité, en ce compris la responsabilité du fait de la diffusion et de la reproduction des
        informations, et du fait des conséquences qui en découlent vis-à-vis des autres Utilisateurs et/ou des tiers
        intéressés.
    </p>

    <h4>4.2 Engagements quant aux Commentaires publiés par l'Utilisateur</h4>
    <p>
        Le Site, les
        Applications et les informations qui y sont publiées sont réservés :&nbsp;
    </p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        i.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A la consultation des informations au moyen du
        système de traitement automatisé de données de l’Editeur ;
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ii.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Aux
        utilisations strictement réservées à l’usage privé et non marchand de l’Utilisateur et non destinées à une
        utilisation collective, gratuite ou payante.
    </p>
    <p>
        L’Utilisateur déclare et reconnaît que toutes les informations,
        données, textes, logiciels, musiques, sons, photographies, images, vidéos, messages ou tout autre contenu qu’il émet
        le sont sous son entière et seule responsabilité.
    </p>
    <p>
        L’Utilisateur s’engage tant à l’égard de l’Editeur, que des
        autres Utilisateurs et de manière générale de tout tiers, à respecter de manière inconditionnelle l'ensemble de la
        législation applicable, et plus particulièrement :
    </p>
    <ul>
        <li>
            Le droit de la propriété intellectuelle applicables aux créations multimédias, aux logiciels, aux textes, aux
            bases de données, aux articles, aux photos, aux vidéos, aux marques déposées, aux bases de données, aux images
            de toute nature ;
        </li>
        <li>Le droit à l’image des modèles figurant sur des photographies ;</li>
        <li>Le droit des photographes et des agences sur ces photographies ;</li>
        <li>
            La loi Informatique, Fichiers et Libertés en matière de protection des personnes à l’égard des traitements de
            données à caractère personnel ;
        </li>
        <li>Le droit de la presse ;</li>
        <li>Le dispositif légal de protection de la fraude informatique.</li>
    </ul>
    <p>
        En conséquence, tout Utilisateur inscrit s’interdit tant à l’égard de l’Editeur, que des autres Utilisateurs
        inscrits et de manière générale de tout tiers :
    </p>
    <ul>
        <li>
            De diffuser des propos diffamatoires, abusifs, harcelant ou menaçant quiconque, ou en violation des droits
            d’autrui ;
        </li>
        <li>De faire l’apologie des crimes contre l’humanité, d’inciter à la haine raciale ou à la pédophilie ;</li>
        <li>De créer une fausse identité ou usurper l’identité d’un tiers ;</li>
        <li>
            De transmettre des virus, un cheval de Troie, des bombes logiques ou tout autre programme nuisible ou
            destructeur ;
        </li>
        <li>D’entraver les Services associés au compte Public ;</li>
        <li>
            De reprendre tout ou partie du contenu d’œuvres préexistantes sans l’autorisation des titulaires des droits sur
            ces œuvres ;
        </li>
        <li>
            De reproduire et/ou utiliser la marque, la dénomination sociale, le logo ou tout signe distinctif et de manière
            générale toute donnée de quelque nature qu’elle soit, rédactionnelle, graphique ou autre de l’Editeur, d’un
            autre Utilisateur ou d’un tiers ;
        </li>
        <li>
            De procéder ou même de tenter une intrusion du sein du Site et/ou des Applications ou du système d’information
            d’administration du Site et/ou des Applications ou de modifier, totalement ou partiellement les éléments qui y
            sont contenus.
        </li>
    </ul>
    <p>
        L’Utilisateur s’engage le cas échéant à indemniser l’Editeur de tout préjudice directement ou indirectement lié
        au non-respect de ces garanties.
    </p>
    <p>
        Tout Utilisateur qui agit en fraude des CGU s’expose à des poursuites civiles
        et/ou pénales.
    </p>
    <h4>4.3 Devoir de vigilance – Moyens mis en œuvre pour lutter contre les activités illicites</h4>
    <p>
        Tout Utilisateur reconnaît être informé qu’une modération a posteriori sur ses Commentaires est mise en œuvre
        pour contrôler, supprimer ou modifier les contenus publiés par les Utilisateurs qui apparaîtraient contraires aux
        lois et règlements en vigueur, ou qui auraient été signalés comme tel par l’autorité judiciaire.
    </p>
    <p>
        Tout
        Utilisateur reconnaît être informé qu’un dispositif d’alerte est mis à tout moment à la disposition de toute
        personne qui désirerait signaler la publication sur les Services de tout message à caractère litigieux dont elle
        aurait connaissance notamment ceux qui relèveraient des infractions prévues à l'article 24 alinéas 5 et 8 de la loi
        sur la presse et à l'article 227-23 du Code pénal telles que l’apologie des crimes contre l’humanité, l’incitation à
        la haine raciale, la pornographie enfantine, et ce conformément aux dispositions prévues par l’article 6-I-7 alinéas
        3 et 4 de la loi pour La Confiance dans l’Economie Numérique du 21 juin 2004.
    </p>
    <p>
        Pour exercer cette faculté,
        l’Utilisateur doit cliquer sur le lien « signaler un abus » prévu à cet effet en ayant soin d’identifier le message
        litigieux, et d’expliquer en quoi celui-ci est contraire aux lois et règlements en vigueur, puis en fournissant pour
        les personnes physiques, leur nom, prénom, domicile et numéro de téléphone, et pour les personnes morales, leur nom,
        raison sociale, adresse, numéro de téléphone et l’identité de leur représentant légal.
    </p>
    <p>
        II est entendu que le
        fait d’abuser de cette faculté est susceptible d’engager la responsabilité de celui qui l’exerce. Notamment, sont
        susceptibles de donner lieu à des poursuites judiciaires :
    </p>
    <p>
        -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Le fait de signaler un message ou une activité comme étant illicite dans le seul but d’en obtenir le retrait ou d’en
        faire cesser la diffusion, tout en sachant que cette information est inexacte ;
    </p>
    <p>
        -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        La dénonciation, effectuée par tout moyen de communication y compris par voie électronique et dirigée contre une
        personne déterminée, d'un fait qui est de nature à entraîner des sanctions judiciaires, et que l'on sait totalement
        ou partiellement inexact.
    </p>



    <h3>ARTICLE 5 - RESPONSABILITE DE L’EDITEUR</h3>
    <p>
        CMI Digital, Editeur du Site, a
        la qualité d’hébergeur s’agissant des Commentaires postés par les internautes sur le Site.
    </p>
    <p>
        Conformément aux
        dispositions de la loi sur la Confiance dans l’Economie Numérique du 21 juin 2004, la responsabilité de l’Editeur
        concernant les Services proposés est celle d’un hébergeur de contenus, ces Services, permettant aux Utilisateurs de
        poster des commentaires pour chaque article publié par la rédaction de Public (ci-avant et ci-après désignés par les
        &quot;Commentaires&quot;). Les Commentaires ne relèvent pas de l’activité éditoriale de l’Editeur qui ne fait que
        mettre à disposition des Utilisateurs ce Service et en stocker le contenu sur son propre Site et ses
        Applications.
    </p>
    <p>
        Ainsi, les Commentaires publiés ne sauraient être considérés comme reflétant les opinions de
        l’Editeur et ce dernier ne peut donc pas voir sa responsabilité engagée du fait des Commentaires postés par les
        Utilisateurs s’il n’a pas effectivement eu connaissance du Commentaire avant sa mise en ligne ou si, dès le moment
        où il en a eu connaissance, il a agi promptement pour retirer ce message.
    </p>
    <p>
        Quels que soient les moyens de
        contrôle que l’Editeur met en œuvre, il est entendu qu’en raison du volume des informations publiées, l’Editeur
        n’est pas soumis à une obligation générale de surveiller les informations qu'il stocke, ni à une obligation générale
        de rechercher des faits ou des circonstances révélant des activités illicites, ni à une obligation de garantie
        concernant l’exactitude, la probité ou l'honnêteté des informations publiées par les Utilisateurs.
    </p>
    <p>
        L’Editeur
        se réserve le droit d’insérer ou d’autoriser tout tiers à insérer des messages publicitaires, promotionnels et/ou de
        parrainage dans tout espace des Services, ce toutefois sans aucune intervention sur les Commentaires. Ainsi, les
        espaces vidéo intégrés dans l’outil de lecture des vidéos sont gérés par l’Editeur. Ces espaces sont indépendants et
        ne peuvent en aucun cas remettre en cause la qualification d'intermédiaire technique de l’Editeur et le régime de
        responsabilité en découlant.
    </p>



    <h3>ARTICLE 6 - DONNÉES&nbsp;A CARACTÈRE&nbsp;PERSONNEL ET COOKIES</h3>
    <h4>6.1 Données personnelles</h4>
    <p>
        Lors de l’utilisation des Services par l’Utilisateur, des données à caractère
        personnel sont susceptibles d’être collectées et traitées en vue de permettre l’accès aux Services à des fins
        d’identification, d’administration et de gestion technique des Services ainsi qu’à des fins de statistiques et de
        prospection commerciale, conformément au cadre légal applicable.
    </p>
    <p>
        Les données à caractère personnel recueillies
        par l’Editeur dans le cadre des présentes font l’objet d’un traitement au sens de la Règlementation applicable.
    </p>
    <p>
        L’Editeur garantit avoir déclaré le traitement des données personnelles effectué sur le Site auprès de la CNIL pour
        les données traitées avant l’entrée en vigueur du Règlement européen n° 2016/679 relatif à la protection des
        personnes physiques à l’égard du traitement des données à caractère personnel du 27 avril 2016.
    </p>
    <p>
        En application
        des dispositions de la Règlementation applicable, toute personne physique dispose des droits d’accès, de
        rectification, d’effacement, d’opposition, de limitation, et de portabilité des données la concernant.
    </p>
    <p>
        Lorsque
        le traitement des données est effectué sur le fondement du consentement de l’Utilisateur, ce dernier peut retirer
        son consentement à tout moment. Un tel retrait ne remettra pas en cause la licéité du traitement effectué avant le
        retrait.
    </p>
    <p>
        Lorsque le traitement est fondé sur l’intérêt légitime de l’Editeur ou d’un tiers, l’Utilisateur peut
        s’opposer au traitement à tout moment, pour des raisons tenant à sa situation particulière. Toutefois, lorsque le
        but du traitement est la prospection, l’Utilisateur peut s’opposer à ce traitement sans motif, y compris au
        profilage dans la mesure où il est lié à une telle prospection.
    </p>
    <p>
        L’Utilisateur a la possibilité de définir des
        directives relatives au sort de ses données personnelles après son décès.
    </p>
    <p>
        L’Utilisateur peut exercer ses
        droits à tout moment, auprès de l’Editeur, lorsque celui-ci est responsable de traitement, via les moyens suivants :&nbsp;
    </p>
    <p>
        Par voie postale :&nbsp;1 rue du Départ - 75014 Paris
    </p>
    <p>
        Par téléphone :&nbsp;0800 01 2345
    </p>
    <p>
        Par voie électronique : info@blogtrotter.fr&nbsp;
    </p>
    <p>
        Les données personnelles qui seront communiquées à l’Utilisateur dans le cadre de l’exercice de son droit
        d’accès et/ou de portabilité, le seront à titre personnel et confidentiel. A ce titre, pour que sa demande d’accès
        et/ou de portabilité soi(en)t prise(s) en compte, nous lui demandons de bien vouloir nous fournir les éléments
        nécessaires à son identification, à savoir, une attestation écrite sur l’honneur par laquelle il certifie être le
        titulaire des dites données personnelles ainsi qu’une photocopie de sa pièce d’identité comportant une
        signature.
    </p>
    <p>
        En cas de litige, l’Utilisateur dispose du droit de saisir la Commission Nationale de
        l’Informatique et des Libertés.
    </p>
    <p>
        Les données personnelles recueillies à l'occasion de la création et
        exploitation d'un compte Utilisateur sont nécessaires au traitement informatique du compte de l'Utilisateur. Elles
        sont destinées aux services internes de CMI Digital, à ses prestataires et tous sous-traitants, ainsi
        qu'éventuellement à des partenaires commerciaux de l’Editeur et/ou d’autres entités du groupe CMI en cas de
        consentement spécifique de l’Utilisateur dans le formulaire d’inscription.
    </p>
    <p>
        L’Utilisateur est invité à prendre
        connaissance de la Charte sur les Données Personnelles et Cookies disponible sur le Site à l’adresse suivante&nbsp;:&nbsp;<a
                href="https://www.public.fr/Charte-donnees-personnelles-et-cookies" target="_self">https://www.public.fr/Charte-donnees-personnelles-et-cookies</a>.
    </p>

    <h4>6.2 Cookies</h4>
    <p>
        L'Utilisateur est informé que, lors de ses visites sur le Site, les Applications, ou
        lors de la consultation des newsletters, un cookie peut s'installer automatiquement sur son logiciel de navigation
        ou dans les newsletters. Un cookie est un fichier, souvent anonyme, contenant des données, notamment un identifiant
        unique, transmis par le serveur du Site au navigateur de l'Utilisateur et stocké sur son disque dur.
    </p>
    <p>
        Ces
        cookies permettent lors de chaque visite par un Utilisateur sur le Site, de réaliser des études statistiques
        globales sur l'audience du Site, d'identifier le cas échéant l'Utilisateur, d'étudier le comportement des
        Utilisateurs au sein des différentes rubriques du Site et des Applications, et ce, afin de personnaliser au mieux
        lesdits Sites, Applications et Services en termes d'organisation, d'affichage et de contenus en fonction des données
        personnelles recueillies auprès de l’Utilisateur lors de son inscription.
    </p>
    <p>
        L'Utilisateur a la possibilité de
        s'opposer à l'enregistrement des cookies, notamment en configurant son navigateur. Cependant, l'Utilisateur est
        informé que l'accès à certains services du Site pourra le cas échéant s'en trouver impossible ou altéré.
    </p>
    <p>
        Pour
        plus d’information concernant les cookies, l’Editeur renvoie à sa Charte sur les données personnelles et cookies
        disponible sur le Site à l’adresse suivante :&nbsp;<a
                href="https://www.public.fr/Charte-donnees-personnelles-et-cookies" target="_self">https://www.public.fr/Charte-donnees-personnelles-et-cookies</a>.
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h3>ARTICLE 7 - PUBLICITE ET PARTENARIATS</h3>
    <h4>7.1 Publicité</h4>
    <p>
        L'Utilisateur est informé que l'Editeur est financé par les revenus de la publicité présente sur le Site et les
        Applications. La publicité se présente sous plusieurs formes telles que notamment (i) des bandeaux ou des vignettes
        publicitaires ou des encarts publicitaires insérés sur les différentes pages du Site et des Applications et portant
        au-dessus la mention &quot;Publicité&quot; ; (ii) des formats (flash transparents) où la mention &quot;Publicité&quot;
        est marquée sur la vignette reprenant le visuel dans la partie droite de la page ; (ii) certains dossiers contenus
        sur le Site et les Applications sont parrainés par un annonceur, auquel cas la mention &quot;sponsorisé par [.]&quot;
        est visible sur le dossier. Cela signifie que l'annonceur a l'exclusivité de la publicité sur ce dossier pendant la
        durée de la campagne publicitaire. Les « publirédactionnels » sont par définition un contenu proposé de concert avec
        l'annonceur. En dehors de ces « publi-rédactionnels », la rédaction du contenu reste indépendante et libre de toute
        influence.
    </p>
    <p>
        L’Editeur utilise aussi des cookies à des fins publicitaires. Ces cookies sont déposés par
        l’Editeur ou par des tiers et sont utilisés afin de montrer des publicités pertinentes aux Utilisateurs.
        L'Utilisateur est invité à prendre connaissance de la Charte Données Personnelles et Cookies pour plus
        d'informations sur l'utilisation des cookies à des fins publicitaires à l’adresse suivante :&nbsp;<a
                href="https://www.public.fr/Charte-donnees-personnelles-et-cookies" target="_self">https://www.public.fr/Charte-donnees-personnelles-et-cookies</a>.
    </p>

    <h4>7.2 Partenariats</h4>
    <p>
        L’Editeur met en place des partenariats afin d’enrichir le contenu et les Services
        proposés par le Site et les Applications. Ces offres des partenaires sont proposées par ces derniers en toute
        indépendance et sous leur seule responsabilité. En conséquence, l’Editeur ne saurait voir sa responsabilité engagée
        pour quelque cause et sur quelque fondement que ce soit relativement aux offres ainsi consultées ainsi qu’aux
        transactions qui pourraient en découler, les partenaires étant seuls engagés dans une relation contractuelle avec
        les Utilisateurs du Site et des Applications.
    </p>
    <p>
        Le contenu des sites des partenaires reste leur propriété
        intellectuelle. Toute reproduction, réédition ou redistribution par quelque moyen que ce soit est totalement
        interdite par la loi sans autorisation écrite des partenaires concernés.
    </p>
    <p>
        Les CGU ne s’appliquent pas aux
        contenus et offres des partenaires, il est donc recommandé aux Utilisateurs de prendre connaissance des conditions
        générales d’utilisation et des conditions générales de vente des sites des partenaires.
    </p>



    <h3>ARTICLE 8 - PROPRIETE INTELLECTUELLE</h3>
    <h4>8.1 Contenus du Site, des Applications et des Services</h4>
    <p>
        CMI Publishing est titulaire du nom de domaine&nbsp;:&nbsp;<a
                href="https://www.public.fr/" target="_self">https://www.public.fr</a>
    </p>
    <p>
        Le Site, les Applications ainsi
        que les éléments qui les composent sont la propriété exclusive de CMI Publishing, de CMI Digital, et de leurs
        propriétaires respectifs, seuls habilités à utiliser les droits de propriété intellectuelle et droits de la
        personnalité y afférents, notamment marques, modèles, droits d'auteur et droits à l'image, à titre originaire ou par
        l'effet d'une licence ou d'une autorisation expresse.&nbsp;
    </p>
    <p>
        L'ensemble des éléments du Site et des
        Applications édité par CMI Digital (notamment la structure, tous les textes, photos, vidéos, données, affiches,
        logos, marques et autres éléments reproduits) est réservé et protégé par le droit de la propriété intellectuelle,
        notamment les droits d'auteur, droits voisins, et droit des marques.
    </p>
    <p>
        Le contenu du Site/Applications et
        l’utilisation des Services, protégés par la loi et notamment les dispositions du Code de Propriété Intellectuelle,
        sont exclusivement destinés à l’information et à l’usage personnel de l’Utilisateur qui bénéficie d’un droit d’usage
        privé, non collectif et non exclusif.
    </p>
    <p>
        L'usage de tout ou partie du Site et des Applications, notamment par
        téléchargement, reproduction, transmission, représentation ou diffusion, à d'autres fins que pour l'usage personnel
        et privé dans un but non commercial de l'internaute, est strictement interdit. La violation de ces dispositions
        soumet son auteur aux sanctions prévues au titre notamment de la contrefaçon de droits d'auteur, de droit des
        marques.&nbsp;
    </p>
    <p>
        Sauf autorisation expresse et préalable de l’Editeur, sont interdites toutes les reproductions,
        représentations et utilisations autres que celles visées ci-dessus et notamment :
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        i.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Toute adaptation, mise à disposition du public à
        sa demande ou non, distribution, rediffusion sous quelque forme que ce soit, mise en réseau, communication publique
        de tout ou partie des œuvres, prestations, marques et tous éléments protégés ou susceptibles de protection par le
        droit de la propriété intellectuelle reproduits sur le Site et les Applications ;
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        ii.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Toute extraction ou réutilisation, y compris à
        des fins privées, d’une partie substantielle du contenu des bases de données constituées par le Site et les
        Applications ;
    </p>
    <p>
        &nbsp;&nbsp;&nbsp; iii.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Toute
        extraction ou réutilisation, répétée et systématique, y compris à des fins privées, d’une partie même non
        substantielle du contenu des bases de données constituées par le Site et les Applications ;
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;
        iv.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tout lien, accès, modification, ajout,
        suppression qui porte sur le système de traitement automatisé de l’édition en ligne et modifie les conditions de
        publication ou la politique éditoriale.
    </p>
    <p>
        &nbsp;
    </p>

    <h4>8.2 Commentaires des Utilisateurs</h4>
    <p>
        L’Utilisateur déclare et garantit :
    </p>
    <ol>
        <li>
            Etre le propriétaire ou le titulaire des droits et/ou autorisations nécessaires relatifs aux droits d’auteur,
            droits de la personnalité ou autres droits de propriété intellectuelle et/ou industrielle éventuellement
            attachés à son Commentaire ;
        </li>
        <li>
            Bénéficier de l’autorisation préalable et écrite de chaque personne physique identifiable dans son Commentaire
            pour utiliser leur nom et/ou leur image et/ leur voix aux fins de leur diffusion sur les Services.
        </li>
    </ol>
    <p>
        En contrepartie de l’utilisation des Services, l’Utilisateur cède à l’Editeur, à titre gratuit, ses droits sur
        ses Commentaires pour les exploitations suivantes :
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; i.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Reproduction,
        en tout ou partie, de ses Commentaires, leur intégration et communication sur les Site et Applications, accompagnée
        ou non d’autres Contenus ainsi que leur communication au public par tout support de communication connu ou inconnu à
        ce jour ;
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ii.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Adaptation
        pour les besoins des droits visés ci-avant.
    </p>
    <p>
        Cette cession est délivrée à titre gratuit pour le monde entier et
        pour toute la durée de la protection légale.
    </p>

    <h4>8.3 Marques</h4>
    <p>
        La marque «&nbsp;Public&nbsp;» et le(s)
        logo(s) associé(s) est une marque protégée en France et à l’étranger. Sauf autorisation expresse et préalable, tout
        usage de cette marque ainsi que toutes autres marques, figuratives ou non appartenant à l’Editeur, à d’autres
        sociétés du groupe CMI France, ou à des tiers, expose l’Utilisateur à des poursuites pénales et/ou civiles.
    </p>



    <h3>ARTICLE 10 - CONSERVATION, ARCHIVAGE ET CONVENTION SUR LA PREUVE</h3>
    <h4>10.1 Conservation et archivage</h4>
    <p>
        Conformément aux dispositions de la Loi pour la confiance dans l’économie numérique du 21 juin 2004, l’Editeur
        est tenue, en sa qualité d’hébergeur de contenu de détenir et conserver les données de nature à permettre
        l’identification de toute personne ayant diffusé des contenus par son intermédiaire, pour le cas où les autorités
        judiciaires en feraient la demande.
    </p>
    <p>
        Les fichiers informatisés conservés dans les systèmes informatiques de
        l’Editeur dans des conditions raisonnables de sécurité, seront considérés comme les preuves de dépôt des
        Commentaires ainsi que des différentes transmissions d’informations entre l'Utilisateur et l’Editeur, permettant à
        ce dernier d'assurer les traitements souhaités par l'Utilisateur.
    </p>
    <p>
        L'archivage de ces données est effectué sur
        un support fiable et durable de manière à correspondre à une copie fidèle et durable, conformément à l'article 1379
        du Code civil.
    </p>

    <h4>10.2 Convention sur la preuve</h4>
    <p>
        L’Editeur et l’Utilisateur acceptent de communiquer
        principalement par voie électronique. Ces communications électroniques font foi entre l’Editeur et l’Utilisateur et
        constituent des preuves recevables, valides et opposables. Par ailleurs, l’Editeur et l’Utilisateur attribuent la
        même valeur probante au fait de cocher la mention « j’ai lu et j’accepte les conditions générales de Public » telle
        que prévue notamment au sein du formulaire d'inscription au compte Public, qu’à une signature manuscrite.
    </p>



    <h3>ARTICLE 11 - LOI APPLICABLE ET JUGE COMPETENT</h3>
    <p>
        Le non-respect par l’Utilisateur, quelle que soit sa
        localisation, de l’une quelconque des dispositions des CGU et de façon plus générale toute difficulté touchant à son
        exécution, son interprétation ou sa validité, sont soumis à la loi française et aux juridictions
        françaises.&nbsp;
    </p>

{% endblock %}
